*{
    margin:0 ;
    padding: 0;
}
.entete_bloc_gauche{
    display: flex;
    position: relative;
    top: 5px;
}
.titre_site{
    position: relative;
    left: 15px;
    top: 15px;
    color: black;
    text-decoration: none;
}
.entete_bloc_droit{
    display: flex;
    float: right;
    position: relative;
    top: 30px;
}
.slogan{
    position: relative;
    right: 10px;
}
.drapeau{
    position: relative;
    bottom: 10px;
    left: 20px;
}
.menu{
    position: relative;
    top: 15px;
    background-color: rgb(23, 23, 49);
    height: 70px;
}
.test_menu{
    position: relative;
    top: 15px;
    background-color: rgb(23, 23, 49);
    height: 70px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.container-fluid{
    background-color: #f5f5f5;
    height: 80px;
    position: relative;
    top: 15px;
}
.champ_de_recherche{
    background-color: #f5f5f5;
    position: relative;
    top: 20px;
    width: 80%;
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.search{
    position: relative;
    top: 20px;
    width: 20%;
    height: 40px;
}
.center{
    display: flex;
}
.container_sect1{
    position: relative;
    top: 20px;
}
.container_sect1 .row .usagers p{
    text-align: center;
}
.serv_users{
    font-size: 2.5em;
    font-weight: lighter;
}
.demarches{
    font-size: 1.2em;
    font-weight: bold;
    color: rgba(76, 71, 71, 0.856);
}
.bloc1_1{
    height: 200px;
    border-radius: 5px;
    box-shadow: #d4d0d0 0 0 2px 3px;
}
.bloc1_1:hover{
    background-color: rgb(0, 0, 255);
}

.file{
    position: relative;
    top: 25px;
    left: 130px;
}
.b_man{
    position: relative;
    top: 38px;
    left: 67px;
}
.bloc1_text{
    color: rgb(75, 73, 73);
    text-align: center;
    margin-top: 40px;
}
.bloc1_text:hover{
    color: white
}
.btn{
    background-color: #002a40;
    color: #fff;
    position: relative;
    display: inline-block;
    top: 30px;
    left: 580px;
}
.container_sect2{
    background-color: #f7f1f1;
    position: relative;
    top: 240px;
    height: 500px;
}
.fiches{
    font-size: 2.3em;
    font-weight: lighter;
    position: relative;
    top: 50px;
    left: 320px;
}
.procedures{
    font-size: 1.1em;
    font-weight: bold;
    color: rgba(76, 71, 71, 0.856);
    position: relative;
    top: 50px;
    left: 310px;
}
.bloc2_1{
    height: 200px;
    border-radius: 5px;
    box-shadow: #d4d0d0 0 0 2px 3px;
    background-color: white;
}
.bloc2_1:hover{
    background-color: rgb(0, 0, 255);
}
.row2{
    position: relative;
    top: 500px;
}

@media s and (max-width: 1024px)
{
    nav ul li a:hover{
        border-bottom: 0;
    }
}

