*{
    margin:0 ;
    padding: 0;
}
.entete_bloc_gauche{
    display: flex;
    position: relative;
    top: 5px;
}
.titre_site{
    position: relative;
    left: 15px;
    top: 15px;
    color: black;
    text-decoration: none;
}
.entete_bloc_droit{
    display: flex;
    float: right;
    position: relative;
    top: 30px;
}
.slogan{
    position: relative;
    right: 10px;
}
.drapeau{
    position: relative;
    bottom: 10px;
    left: 20px;
}
.menu{
    position: relative;
    top: 15px;
    background-color: rgb(23, 23, 49);
    height: 70px;
}
.test_menu{
    position: relative;
    top: 15px;
    background-color: rgb(23, 23, 49);
    height: 70px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.container-fluid{
    background-color: #f5f5f5;
    height: 80px;
    position: relative;
    top: 15px;
}
.champ_de_recherche{
    background-color: #f5f5f5;
    position: relative;
    top: 20px;
    width: 80%;
    height: 40px;
}
.search{
    position: relative;
    top: 20px;
    width: 20%;
    height: 40px;
}
.center{
    display: flex;
}
.section1{
    position: relative;
    top: 20px;

}
.section1 .row .usagers p{
    text-align: center;
}
.serv_users{
    font-size: 2.5em;
    font-weight: lighter;
}
.demarches{
    font-size: 1.2em;
    font-weight: bold;
    color: rgba(76, 71, 71, 0.856);
}
.bloc1_1{
    min-height: 200px;
    border-radius: 5px;
    box-shadow: #d4d0d0 0 0 2px 3px;
}
.bloc1_1:hover{
    background: linear-gradient(180deg,#448AFF, #002a40);
}
.profil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.bloc1_text{
    color: rgb(75, 73, 73);
    text-align: center;
    margin-top: 40px;
    height: 100px;
}
.bloc1_text:hover{
    color: white
}
.btn{
    background-color: #002a40;
    color: #fff;
    position: relative;
    display: inline-block;
    top: 30px;
}
.voir{
    margin-left: 68%;
}
.btn:hover{
    color: white;
}
.apps{
    margin-left: 60%;
}
.btn2:hover{
    color: white;
}
.sect2{
    background-color: #f7f1f1;
    position: relative;
    top: 250px;
    height: 770px;
}
.sect2 .container .row .usagers p{
    text-align: center;
}
.bloc2_2{
    position: relative;
    top: 200px;
}
.bloc2_1_2{
    height: 250px;
    border-radius: 5px;
    box-shadow: #d4d0d0 0 0 2px 3px; 
}
.bloc2_1_2:hover{
    box-shadow: #d4d0d0 0 0 8px 10px; 
}
.bloc2_text{
    text-align: center;
}
.bloc2_text a{
    color: rgb(59, 58, 58);
}
.im_bloc2{
    position: relative;
    top: 25px;
    left: 40%;
}
.bloc2_1_2 .off_user{
    font-size: small;
}
.off_user{
    display: flex;
    justify-content: space-around;
}
footer .container-fluid{
    background: #002a40;
    position: relative;
    top: 250px;
    height: 360px;
    padding-top: 30px;
    color: #fff;
}
footer .container-fluid .row .col-2 ul li a{
    text-decoration: none;
    color: rgb(179, 212, 216);
}
footer .container-fluid .row .col-3 ul li a{
    text-decoration: none;
    color: rgb(179, 212, 216);
}
footer .container-fluid .row .col-2 ul li a:hover{
    color: white
}
footer .container-fluid .row .col-3 ul li a:hover{
    color: white
}
footer .container-fluid .row .col-2 ul li{
    list-style: none;
}
footer .container-fluid .row .col-3 ul li{
    list-style: none;
}
footer .container-fluid .row .col-2 li{
    list-style: none;
}
.cookies{
    display: flex;
    justify-content: space-between;
}
.Copyright{
    text-align: center;
}


